<div googleLogin class="btn"></div>

<button fbLogin [scopes]="['email', 'public_profile']"
          class="btn btn-primary" (loginOk)="loggedFacebook($event)"
          (loginError)="showError($event)">
    <fa-icon [icon]="iconFacebook"></fa-icon>
    Login con Facebook
</button>


<div id="parentSearch">
  <input type="text" name="search" id="search">
</div>

<bm-map [coords]="coordinates">
  <bm-marker [coords]="coordinates" color="blue"></bm-marker>
  <bm-autosuggest idContainer="parentSearch" idInput="search" (locationChanged)="moveMap($event)"></bm-autosuggest>
</bm-map>
